@use '../utils/variables' as *;
@use '../utils/mixins' as *;
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
    line-height: 1.5;
    font-family: sans-serif;
}
body {
    @include smooth-bg-transition;
    @apply bg-gray-100 dark:bg-black text-sm;
}